In [16]:
# Serie em Pandas

import numpy as np
import pandas as pd

apples=[3,2,0,1]
s=pd.Series(apples, name='apples',dtype=np.int64)

#print(s)
#print(s.head(2))
#print(type(s))
#print(dir(s))

print(s.head(2))
print(s.tail(2))
print(s.ndim)
print(s.shape)
print(s.mean())
print(s.max())
print(s.min())

0    3
1    2
Name: apples, dtype: int64
2    0
3    1
Name: apples, dtype: int64
1
(4,)
1.5
3
0

In [35]:
# DataFrame em Pandas
# Series + Series = Tabela

d={'apples': [3,2,0,1], 'oranges': [0,3,7,2]}
df=pd.DataFrame(d)

#df
#print(df)
#df.head(2)
#print(df.ndim)
#print(df.shape)
#print(df.mean())
#print(df.max())
#print(df.min())
#print(df.T)

In [46]:
d={'apples': [3,2,0,1], 'oranges': [0,3,7,2]}
df=pd.DataFrame(d)

#print([x for x in df.index])
#print([x for x in df.columns])
#print(df.index)

d={'apples': {'A': 3, 'B': 2, 'C': 0, 'D': 1}, 'oranges': {'A': 0, 'B': 3, 'C': 7, 'D': 2}}
df=pd.DataFrame(d)
print(df)

#print([x for x in df.index])
#print([x for x in df.columns])

   apples  oranges
A       3        0
B       2        3
C       0        7
D       1        2

In [51]:
d = {'apples': [3,2,0,1],'oranges': [0,3,7,2], 'bananas': [1,3,5,4], 'avocados': [9,0,0,1]}

df0=pd.DataFrame(d)
print(df0)

df0.to_csv('output.csv', sep=';',encoding='utf-8', index=True) # Escrevendo um csv

df1=pd.read_csv('output.csv', sep=';', encoding='utf-8') # Lendo um csv

print(df1)

   apples  oranges  bananas  avocados
0       3        0        1         9
1       2        3        3         0
2       0        7        5         0
3       1        2        4         1
   Unnamed: 0  apples  oranges  bananas  avocados
0           0       3        0        1         9
1           1       2        3        3         0
2           2       0        7        5         0
3           3       1        2        4         1

In [71]:
d={ 'apples' : { 'A' : 3 , 'B' : 2 , 'C' : 0 , 'D' : 1 } ,
'oranges' : { 'A' : 0 , 'B' : 3 , 'C' : 7 , 'D' : 2 } ,
'bananas' : { 'A' : 1 , 'B' : 3 , 'C' : 5 , 'D' : 4 } ,
'avocados' : { 'A' : 9 , 'B' : 0 , 'C' : 0 , 'D' : 1}}

df=pd.DataFrame(d)
#print(df)

#print(df.sort_index(axis=0, ascending=False))
#print(df.sort_index(axis=1, ascending=False))
#print(df.sort_values(by='oranges'))
#print(df.sort_values(by=['avocados', 'apples']))
#print(df.sort_values(by='oranges', axis=0))
#print(df)
#print(df.sort_values(by='B', axis=1))
print(df)
df.sort_values(by='B', axis=1, inplace=True)
print(df)

   apples  oranges  bananas  avocados
A       3        0        1         9
B       2        3        3         0
C       0        7        5         0
D       1        2        4         1
   avocados  apples  oranges  bananas
A         9       3        0        1
B         0       2        3        3
C         0       0        7        5
D         1       1        2        4

In [107]:
d={ 'apples' : { 'A' : 3 , 'B' : 2 , 'C' : 0 , 'D' : 1 } ,
'oranges' : { 'A' : 0 , 'B' : 3 , 'C' : 7 , 'D' : 2 } ,
'bananas' : { 'A' : 1 , 'B' : 3 , 'C' : 5 , 'D' : 4 } ,
'avocados' : { 'A' : 9 , 'B' : 0 , 'C' : 0 , 'D' : 1}}

df=pd.DataFrame(d)

#print(df)

#print(df['oranges'])
#print(type(df['oranges']))
#print(df['oranges'][0])
#print(df.oranges)
#print(df.oranges[0:2])
#print(df[0:3])

df['oranges'][0]=99
#print(df)

#linha=df.loc['A']
#print(type(linha))
#print(linha)

#linhas=df.loc[:,['oranges', 'bananas']]
#print(type(linhas))
#print(linhas)

#print(df.loc['A', 'oranges']) #df.at['A', 'oranges'] #at é mais rápido na consulta

#print(df.iloc[3])
#print(df.iloc[0:2, 0:2])
#print(df.iloc[[0,2], 0:2]) #Recorte não sequencial

#print(df.iloc[2,2]) # df.iat[2,2]

#for indice in df.index:
#    print(df.loc[indice, 'apples'])
    
#for i in range(df.shape[0]):
    #print(df.iloc[i,0])

3
2
0
1

In [113]:
d={ 'apples' : { 'A' : 3 , 'B' : 2 , 'C' : 0 , 'D' : 1 } ,
'oranges' : { 'A' : 0 , 'B' : 3 , 'C' : 7 , 'D' : 2 } ,
'bananas' : { 'A' : 1 , 'B' : 3 , 'C' : 5 , 'D' : 4 } ,
'avocados' : { 'A' : 9 , 'B' : 0 , 'C' : 0 , 'D' : 1}}

df=pd.DataFrame(d)

#print(df.dropna(axis=0, how='any')) # Removendo linhas sem valores
#print(df.dropna(axis=1, how='any')) # Removendo colunas sem valores

#print(df.drop_duplicates(keep='first'))
#print(df.T.drop_duplicates(keep='first').T)
print(df[df.apples > 1]) # Filtro dentro do DataFrame
print(df[df.apples > 1].reset_index(drop=True))

   apples  oranges  bananas  avocados
A       3        0        1         9
B       2        3        3         0
   apples  oranges  bananas  avocados
0       3        0        1         9
1       2        3        3         0