In [2]:
# Importando os módulos

import pandas as pd
#import nltk

In [4]:
# Colocando os dados em DataFrame

df_bo = pd.read_json('jairbolsonaro.json')
df_lu = pd.read_json('LulaOficial.json')

In [155]:
# Conhecendo os Dataframes

# Calculando quantidade de valores nulos no DataFrame
A = df_lu.isnull().sum()
B = df_bo.isnull().sum()
countNull_Lula = 0
countNull_Bols = 0
for i in range(A.shape[0]):
    countNull_Lula = A[i] + countNull_Lula
    countNull_Bols = B[i] + countNull_Bols

# Atribuindo informações de quantidade: linhas, colunas e dados
qtdLinhas_Lula = df_lu.shape[0]
qtdLinhas_Bols = df_bo.shape[0]
qtdColunas_Lula = df_lu.shape[1]
qtdColunas_Bols = df_bo.shape[1]
qtdDados_Lula = df_lu.size
qtdDados_Bols = df_bo.size
percente_nulos_Lu = round((countNull_Lula / qtdDados_Lula) * 100, 2)
percente_nulos_Bo = round((countNull_Bols / qtdDados_Bols) * 100, 2)

# Criando um DataFrame com as informações
infoDFs = pd.DataFrame({'Qtd de linhas': 
                              {'Bolsonaro': qtdLinhas_Bols, 
                               'Lula': qtdLinhas_Lula}, 
                          'Qtd de colunas': 
                              {'Bolsonaro': qtdColunas_Bols, 
                               'Lula': qtdColunas_Lula},
                          'Qtd de elementos': 
                              {'Bolsonaro': qtdDados_Bols, 
                               'Lula': qtdDados_Lula},
                          'Qtd de valores Nulos':
                              {'Bolsonaro': countNull_Bols,
                                'Lula': countNull_Lula},
                          'Valores Nulos (%)':
                              {'Bolsonaro': percente_nulos_Bo,
                                'Lula': percente_nulos_Lu}
                         })
infoDFs

,Qtd de linhas,Qtd de colunas,Qtd de elementos,Qtd de valores Nulos,Valores Nulos (%)
Bolsonaro,6794,30,203820,87810,43.08
Lula,14961,30,448830,211346,47.09

In [185]:
# Coletando os Twetters
from datetime import datetime

for i in range()

datas = pd.Series(df_lu.created_at.year)

datas[0]

AttributeError: 'Series' object has no attribute 'year'

In [30]:
A = df_bo.isnull().sum()

for i in range(len(A)):
    countNull_bo = A[i] + countNull_bo

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29