In [50]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_excel("Faturados.xlsx", index_col = 0)

In [19]:
df.head(3)

,EMISSAO_PEDIDO,ENTREGA_PEDIDO,PEDIDO,CODIGO_CLIENTE,LOJA_CLIENTE,NOME_CLIENTE,ESTADO_CLIENTE,CIDADE_CLIENTE,PAIS,SEGMENTO,...,VL_UNIT_VENDIDO,VL_TOTAL_VENDIDO,NOTA_FISCAL,SERIE_NOTA,EMISSAO_NOTA,CFOP,BONIFICACAO,QTDE_FATURADA,VL_UNIT_FATURADO,VL_TOTAL_FATURADO
FILIAL,,,,,,,,,,,,,,,,,,,,,
1,2018-10-16,2019-04-18,052921,I8I9BA,F3,FRUISEC S.A,EX,EXTERIOR,FRANCA,ATACADO,...,143.470571,100429.4,41665,1,2019-04-12,7101,NAO,700.0,620.237625,434166.34
1,2018-10-16,2019-06-14,052922,I8I9BA,F3,FRUISEC S.A,EX,EXTERIOR,FRANCA,ATACADO,...,143.470571,100429.4,42596,1,2019-07-10,7101,NAO,700.0,608.573468,426001.43
1,2018-10-16,2019-08-16,052925,I8I9BA,F3,FRUISEC S.A,EX,EXTERIOR,FRANCA,ATACADO,...,143.566285,100496.4,43070,1,2019-09-11,7101,NAO,700.0,651.575584,456102.91

In [47]:
df = df[df.LINHA != 'GRANEL']
df = df[df.ESTADO_CLIENTE != 'EX']

In [48]:
df.LINHA.unique()

array([nan, 'NUTS CLUB', 'EMPORIO', 'SWEET NUTS', 'FOOD SERVICE',
       'CAJUMIL', 'IRACEMA'], dtype=object)

In [51]:
df.insert(1, 'cod', np.nan)

In [54]:
df.nunique()

EMISSAO_PEDIDO           285
cod                        0
ENTREGA_PEDIDO           302
PEDIDO                  3810
CODIGO_CLIENTE           304
LOJA_CLIENTE             186
NOME_CLIENTE             308
ESTADO_CLIENTE            27
CIDADE_CLIENTE           189
PAIS                       1
SEGMENTO                  34
REGIAO                     5
CANAL                      2
CODIGO_REPRESENTANTE      38
NOME_REPRESENTANTE        38
TRANSPORTADORA            30
MERCADO                    2
LINHA                      6
ITEM_PV                  226
CODIGO_PRODUTO           245
NOME_PRODUTO             246
CODIGO_GRUPO              39
NOME_GRUPO                39
NCM                      108
TIPO                       6
PESO                      19
QTDE_VENDIDA            1650
VL_UNIT_VENDIDO         1782
VL_TOTAL_VENDIDO        4994
NOTA_FISCAL             3810
SERIE_NOTA                 1
EMISSAO_NOTA             273
CFOP                      22
BONIFICACAO                2
QTDE_FATURADA           1650
VL_UNIT_FATURADO        1960
VL_TOTAL_FATURADO       5113
dtype: int64

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10445 entries, 1 to 5
Data columns (total 37 columns):
EMISSAO_PEDIDO          10445 non-null datetime64[ns]
cod                     0 non-null float64
ENTREGA_PEDIDO          10445 non-null datetime64[ns]
PEDIDO                  10445 non-null object
CODIGO_CLIENTE          10445 non-null object
LOJA_CLIENTE            10445 non-null object
NOME_CLIENTE            10445 non-null object
ESTADO_CLIENTE          10445 non-null object
CIDADE_CLIENTE          10445 non-null object
PAIS                    10445 non-null object
SEGMENTO                10445 non-null object
REGIAO                  10445 non-null object
CANAL                   9466 non-null object
CODIGO_REPRESENTANTE    10445 non-null float64
NOME_REPRESENTANTE      10445 non-null object
TRANSPORTADORA          7713 non-null object
MERCADO                 10445 non-null object
LINHA                   7927 non-null object
ITEM_PV                 10445 non-null object
CODIGO_PRODUTO          10445 non-null int64
NOME_PRODUTO            10445 non-null object
CODIGO_GRUPO            10445 non-null int64
NOME_GRUPO              10445 non-null object
NCM                     10445 non-null int64
TIPO                    10445 non-null int64
PESO                    10445 non-null float64
QTDE_VENDIDA            10445 non-null float64
VL_UNIT_VENDIDO         10445 non-null float64
VL_TOTAL_VENDIDO        10445 non-null float64
NOTA_FISCAL             10445 non-null int64
SERIE_NOTA              10445 non-null int64
EMISSAO_NOTA            10445 non-null datetime64[ns]
CFOP                    10445 non-null int64
BONIFICACAO             10445 non-null object
QTDE_FATURADA           10445 non-null float64
VL_UNIT_FATURADO        10445 non-null float64
VL_TOTAL_FATURADO       10445 non-null float64
dtypes: datetime64[ns](3), float64(9), int64(7), object(18)
memory usage: 2.3+ MB

In [56]:
df.groupby('LINHA')['QTDE_FATURADA'].sum()

LINHA
CAJUMIL          7049.000
EMPORIO          6651.000
FOOD SERVICE     6869.000
IRACEMA         38174.000
NUTS CLUB       56639.083
SWEET NUTS       1768.000
Name: QTDE_FATURADA, dtype: float64

In [73]:
df.insert(1, 'ANO', df.EMISSAO_NOTA.year)

AttributeError: 'Series' object has no attribute 'year'

KeyError: 0