In [1]:
import pandas as pd

In [5]:
df = pd.read_excel('BASE PRODUCAO.xlsx', index_col=0)

In [9]:
df.head()

,D3_OP,D3_COD,D3_CF,D3_TM,B1_DESC,D3_QUANT,D3_DOC,DATA,D3_USUARIO,D3_CUSTO1,CUSTO_UNITARIO,D3_PERDA
D3_FILIAL,,,,,,,,,,,,
2,9878801001,61090083,RE1,999,FILME+PETCRIS12MIC+HI FILM MB CRIST 65MIC CAJU...,6.667,YUJLTM23E,2016-02-12,DPA2-CE,110.2555,16.5375,0.0
2,9878801001,61090083,RE1,999,FILME+PETCRIS12MIC+HI FILM MB CRIST 65MIC CAJU...,10.000,YUJLTM23U,2016-02-12,DPA2-CE,165.3750,16.5375,0.0
2,9878801001,61090083,RE1,999,FILME+PETCRIS12MIC+HI FILM MB CRIST 65MIC CAJU...,14.400,YUJLTM24V,2016-02-15,DPA2-CE,238.1400,16.5375,0.0
2,9880601001,61090153,RE1,999,"FILME PET CRISTAL 16,8+TINTAS-BOPPMETHB 15,5+A...",2.484,YUJLTM25Y,2016-02-15,DPA2-CE,80.4982,32.4067,0.0
2,9878801001,61090083,RE1,999,FILME+PETCRIS12MIC+HI FILM MB CRIST 65MIC CAJU...,7.867,YUJLTM25Z,2016-02-15,DPA2-CE,130.1005,16.5375,0.0

In [18]:
print(df.isnull().sum())
print(df.columns)

D3_OP             0
D3_COD            0
D3_CF             0
D3_TM             0
B1_DESC           0
D3_QUANT          0
D3_DOC            0
DATA              0
D3_USUARIO        0
D3_CUSTO1         0
CUSTO_UNITARIO    0
D3_PERDA          0
dtype: int64
Index(['D3_OP', 'D3_COD', 'D3_CF', 'D3_TM', 'B1_DESC', 'D3_QUANT', 'D3_DOC',
       'DATA', 'D3_USUARIO', 'D3_CUSTO1', 'CUSTO_UNITARIO', 'D3_PERDA'],
      dtype='object')

In [19]:
df.D3_TM.unique()

array([999, 101, 105, 499, 119, 120], dtype=int64)

In [61]:
df['D3_TM'] == 105

D3_FILIAL
2    False
2    False
2    False
2    False
2    False
     ...
2    False
2    False
2    False
2    False
2    False
Name: D3_TM, Length: 312044, dtype: bool

In [63]:
df.D3_TM.unique()

array([999, 101, 105, 499, 119, 120], dtype=int64)